.page-header h1{
    font-size: 60px !important;
    font-weight: 800;
    font-family: "Noto Kufi Arabic", sans-serif;
}
.page-header li{
    font-size: 22px;
    font-weight: 600;
    font-family: "Noto Kufi Arabic", sans-serif;
}
.form-floating>label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.contact-form .bg-secondary{
    font-family: "Noto Kufi Arabic", sans-serif !important;
}
.contact-form .display-6{
    font-family: "Noto Naskh Arabic", serif;
    opacity: 0.8;
}
@media (max-width: 768px){
    .contact-form .bg-secondary{
        background-color: #ff000000 !important;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }
    .contact-form .display-6{
        width: 100%;
        text-align: center;
    }
}